html {
  background: linear-gradient(#e66465, #9198e5);
  background-attachment: fixed;
}
body {
  color: white;
  text-align: center;
  font-style: Helvetica;
  font-size: 36px;
  
}

.title {
  text-align: center;
  font-style: Helvetica;
}

img {
  width: 350px;
  height: 250px;
  border: 2.5px #e66465, #9198e5;
}