html {
    background: linear-gradient(#e66465, #9198e5);
    background-attachment: fixed;
}
body {
    text-align: center;
}
div {
    border: 2.5px solid #e66465 #9198e5;;
    display: inline-block;
    margin: auto;
    text-align: center;
}

img {
    width: 350px;
    height: 250px;
    margin: auto;
    
}
.lasagna {
    margin: 50px;
}
.chickenspaghetti {
    margin: 50px;
}
.spanishrice {
    margin: 50px;
}


.title {
    color: white;
    text-align: center;
    font-size: 64px;
    font-style: italic;
    box-sizing: border-box;
}
