
div.links {
    width: 350px;
    height: 250px;
    border: 2.5px solid black;
    margin: 20px auto;
}

img {
    width: 100%;
    height: 100%;
}

.title {
    color: white;
    text-align: center;
    font-size: 64px;
    font-style: italic;
    box-sizing: border-box;
}
