body{
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
        color: #00B7FF;;
}
img {
    width: 300px;
    height: 250px;
    margin: 30px;
}

.title {
    color: white;
    text-align: center;
}
.text {
    font-size: 30px;
    color   : white;
}
.links {
    text-align: center;
    color: white;
    
}